@import '~bootstrap/scss/bootstrap';
$charcoal: #6a6a6a;
$dark: #343a40;
$danger: #aa9399;
$khaki: #f0e5d3;
$light-green: #a5aa93;
$peach: #f3d0b5;
$purple: #9394aa;

body {
  background-color: lighten($khaki, 20%);
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  min-height: 100vh;

  h1,
  h2,
  h4,
  h5,
  h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
  }

  h1 {
    font-size: 11vh;
  }

  h2 {
    font-size: 8vh;
  }

  .button {
    background-color: $light-green;
    border: $light-green;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;

    &:hover {
      background-color: darken($light-green, 30%);
      border: darken($light-green, 30%);
    }
  }

  .secondary {
    background-color: $purple;

    &:hover {
      background-color: darken($purple, 20%);
      border: darken($purple, 20%);
    }
  }

  .danger {
    background-color: $danger;

    &:hover {
      background-color: darken($danger, 20%);
      border: darken($danger, 20%);
    }
  }

  .place-data {
    margin: 1rem auto;
  }

  .title {
    color: $peach;
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    font-weight: 400;
  }
}

main {
  align-items: center;
  display: flex;
  justify-content: center;

  .bg-pastel-lime {
    background-color: pastel-lime;
  }

  .bg-light-green {
    background-color: light-green;
  }

  div:first-child {
    width: 100%;
  }
}

#root {
  display: grid;
  grid-template-rows: max-content auto;
}
