@import '~bootstrap/scss/bootstrap';
@light-mustard: #f0dd92;
@sunshine: #ffffc5;
@pastel-lime: #d6e4aa;
@light-green: #83b582;
@dark: #343a40;

body {
  min-height: 100vh;
}

main {
  align-items: center;
  background-color: sunshine;
  display: flex;
  justify-content: center;

  .bg-pastel-lime {
    background-color: pastel-lime;
  }

  .bg-light-green {
    background-color: light-green;
  }

  div:first-child {
    width: 100%;
  }
}

#root {
  display: grid;
  grid-template-rows: max-content auto;
}
