@import '~bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;

  div:first-child {
    width: 100%;
  }
}

#root {
  display: grid;
  grid-template-rows: max-content auto;
}
